/* RESET */

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Arial, Helvetica, sans-serif;
  background-color: #0f111a;
  color: white;
}

/* LOGIN */

.login-container {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 10px;
}

.logo-login {
  width: 480px;
  max-width: 90%;
  height: auto;
  margin-bottom: 20px;
}

.logo-menu {
  width: 140px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

.login-container h1 {
  margin-top: 10px;
  margin-bottom: 30px;
  font-size: 72px;
  font-weight: 700;
  line-height: 1.1;
}

.login-container input {
  width: 420px;
  max-width: 90%;
  padding: 14px 16px;
  margin-bottom: 15px;
  border-radius: 10px;
  border: 1px solid #2f364d;
  background: #1b2130;
  color: white;
  font-size: 18px;
}

.login-container button {
  padding: 10px 20px;
  border: none;
  border-radius: 6px;
  background: #0094ff;
  color: white;
  cursor: pointer;
}

.login-container button:hover {
  background: #0077cc;
}

/* MENU */

.sidebar {
  width: 220px;
  background: #161923;
  color: white;
  padding: 20px;
}

.logo-menu {
  width: 140px;
  height: auto;
  display: block;
  margin: 0 auto 20px auto;
}

.sidebar p {
  cursor: pointer;
  margin-bottom: 15px;
  transition: 0.2s;
}

.sidebar p:hover {
  color: #00b7ff;
}

/* CONEXÕES */

.conexao-card {
  border: 1px solid #2b3040;
  border-radius: 10px;
  background: #1a1f2b;
  padding: 15px;
  margin-bottom: 12px;
  color: white;
}

.conexao-card strong {
  display: block;
  font-size: 18px;
  margin-bottom: 8px;
}

.online {
  color: #00ff6e;
  font-weight: bold;
  margin-bottom: 8px;
}

/* BOTÕES */

.btn {
  padding: 10px 18px;
  border: none;
  border-radius: 6px;
  cursor: pointer;
  background: #0094ff;
  color: white;
}

.btn:hover {
  opacity: 0.9;
}

/* LOGO GENÉRICA */

.logo {
  width: 250px;
  max-width: 100%;
  height: auto;
  display: block;
}
